<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?" />
      <allow roles="FillFormer" />
      <allow roles="Viewer" />
      <allow roles="admin" />
    </authorization>
    <globalization uiCulture="en" culture="en-GB" />
  </system.web>
</configuration>